body {
    font-family: sans-serif;
    background-color: rgb(80,134,236);
    color: color(22,150,54);
    line-height: 1.5;
    padding: 1px;
    display: flex;
    justify-content: center;
}

.Pic{
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: none;
    transform: scale(0.5, 0.5); /*translate(800px);*/


}



.container2 {
    text-align: center;
    width: 50%;
}

nav {
    list-style-type: none;
	text-align: left;
	padding: 10px 0;
    margin: 20px 0 0;
    display: flex; 
    justify-content: center;
    
}
p {
    display:block;
    margin: auto;
    text-align: center;
    text-overflow: clip;


    
}
ul {
    list-style-type: none;

}
header {
    display: flex;
    justify-content: center;
    text-align: center;
    

    
}
li {
    text-align: center;
    float: left;

    
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }